
.centerpage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #fff;
  border-top: 3px solid #b60027;
  background-image: url('web-app\src\assets\Images\BG\bouchon50.jpg'), url('../Images/BG/departFamille.jpg');
  background-position: left, right;
  background-size: 50% auto, 50% auto;
  background-repeat: no-repeat, no-repeat;
  max-width: 100%;
}

.filters {
  width: 100%;
  max-width: 400px;
  background-color: #f8dada;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin: auto;
}

.filterBlock {
  margin-bottom: 25px;
}

.filters label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.filters select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #fcecec;
}

.filters h3 {
  margin-bottom: 10px;
}

.filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 6px 10px;
  background-color: #fbeeee;
  border-radius: 5px;
}

.filters input[type="checkbox"] {
  accent-color: #5e3b76;
}

.publishBtn {
  background-color: #b60027;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

.publishBtn:hover {
  background-color: #9e0027;
}
